*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

footer{
    background-color: black;
    color: white;
    padding: 43px 0px;
    

}

header{
   background-color: #FF6900;
   color: white; 
   padding: 20px 0px;
   position: fixed;
   width: 100%;
   height: 75px;
   z-index: 5;
}

.container{
    width: 1180px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    
}

main{
    padding-top: 100px;
}

.text-container-1{
width: 20%;
text-align: left;

}

.text-container-2{
 width: 60%;
text-align: center;
}

.text-container-3{
width: 20%;
text-align: right;
}

ul{
    list-style-type: none;
}

.logo{
    width: 120px;
}

.container{
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.col-33{
    width: 30%;
}

.card{
    width: 100%;
    position: relative;
}
 .card img{
    max-width: 100%;
 }

 .price{
    color: red;
 }

 .ex-price{
    text-decoration: line-through;
 }

 .label{
    position: absolute;
    bottom: 30px;
    left: 0px;
}

.label-padding{
    padding: 5px 10px;
    color: white;
}

.label-heart{
    position: absolute;
    top: 30px;
    right: 0px;
    padding: 5px 10px;
    color: black;
    font-size: 30px;
    
}

.overlay{
    width: 100%;
    height: 100%;
    background-color: black;
    position: absolute;
    top: 0;
    color: white;
    font-size: 40px;
    opacity: 0;
}

.front{
    display: block;
}

.back{
    display: none;
}

.card:hover .front{
    display: none;
}

.card:hover .back{
    display: block;
}

.container-f{
    width: 1180px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.container-f-left{
    width: 70%;
    text-align: left;
}

.container-f-right{
    width: 30%;
    text-align: right;
}




/*utility*/
.bg-blue{
    background-color: blue;
}

.bg-red{
    background-color: red;
}

.bg-silver{
    background-color: silver;
}

.bg-green{
    background-color: green;
}

.bg-white{
    background-color: white;
}

.bg-black{
    background-color: black;
}

.d-flex{
    display: flex;
}

.my-10{
    margin-right: 10px;
}

.d-inline-block{
    display: inline-block;
}


.border-black{
    border: 1px solid black;
}

.justify-content-between{
    justify-content: space-between;
}

.col-red{
    color: red;
}

.z-index{
    z-index: 1;
}

.my-f{
    margin-top: 50px;
}

.label-heart:hover{
    color: red;
}


